/* line 17, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../src/sass/tilegame.scss */
body {
  background-color: #eeeeee;
}

/* line 8, ../src/sass/tilegame.scss */
#tilegame {
  position: absolute;
  background-color: white;
}
/* line 3, ../src/sass/_shape.scss */
#tilegame .shape {
  position: absolute;
  overflow: hidden;
}
/* line 9, ../src/sass/_shape.scss */
#tilegame .shape.gripped {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  z-index: 10;
}
/* line 14, ../src/sass/_shape.scss */
#tilegame .shape.square:before {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}
/* line 22, ../src/sass/_shape.scss */
#tilegame .shape.tri1:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 500px;
  margin: 0px;
  position: relative;
  margin-left: 100%;
  left: -1000px;
  border-color: black transparent transparent black;
}
/* line 36, ../src/sass/_shape.scss */
#tilegame .shape.tri2:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 500px;
  margin: 0px;
  position: relative;
  border-color: transparent transparent black black;
}
/* line 48, ../src/sass/_shape.scss */
#tilegame .shape.tri3:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 500px;
  margin: 0px;
  position: relative;
  margin-left: 100%;
  left: -1000px;
  border-color: transparent black black transparent;
}
/* line 62, ../src/sass/_shape.scss */
#tilegame .shape.tri4:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 500px;
  margin: 0px;
  position: relative;
  border-color: black black transparent transparent;
}

/* line 15, ../src/sass/tilegame.scss */
.socialbutton {
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 8px;
  background-color: #cccccc;
}
/* line 26, ../src/sass/tilegame.scss */
.socialbutton a {
  font-family: sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #333333;
}
